apiVersion: apps/v1
kind: Deployment
metadata:
  name: mini-project-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mini-project
  template:
    metadata:
      labels:
        app: mini-project
    spec:
      containers:
      - name: mini-project-container
        image: masterdocker05/shift-script:latest  # Use the puushed Docker image
        ports:
          - containerPort: 8080
        volumeMounts:
          - name: mini-project-storage
            mountPath: /app/data   # Mount the volume where data is shared
      volumes:
        - name: mini-project-storage
          persistentVolumeClaim:
            claimName: mini-project-pvc
