apiVersion: apps/v1
kind: Deployment
metadata:
  name: mini-project-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mini-project
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate      
  template:
    metadata:
      labels:
        app: mini-project
    spec:
      containers:
        - name: mini-project-container
          image: maximolds/mini_project_test  # Use the pushed Docker image
          ports:
            - containerPort: 7000
          volumeMounts:
            - name: mini-project-storage
              mountPath: /app/data   # Mount the volume where data is shared
      volumes:
        - name: mini-project-storage
          persistentVolumeClaim:
            claimName: mini-project-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mini-project-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: mini-project-persistent-volume
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data"   # Replace with actual path on the Kubernetes node
---
apiVersion: v1
kind: Service
metadata:
  name: mini-project-service
spec:
  selector:
    app: mini-project 
  ports:
    - protocol: TCP
      port: 7000  
      targetPort: 7000
      nodePort: 30001 
  type: NodePort
